:root {
  --white: #fff;
  --light: #f8f9fa;
  --dark: #343a40;
  --black: #000;

  --blue: #007bff;
  --blue-light: #007bff20;
  --blue-hover: #007bff30;
  --blue-light-opaque: #eff7ff;
  --blue-mid: #007bff99;
  --pblue: #4c75f2;
  --pblue-light: #4c75f210;
  --pblue-hover: #4c75f230;
  --pblue-light-opaque: #eff7ff;
  --pblue-mid: #4c75f299;
  --pblue-dark: #4c75f2dd;
  --cherry: #ff073a;
  --cherry-mid: #ff073a99;
  --cherry-light: #ff073a20;
  --cherry-hover: #ff073a30;
  --cherry-light-opaque: #ffe0e6;
  --red: #dc3545;
  --red-light: #dc354520;
  --red-mid: #dc354599;
  --red-hover: #dc354530;
  --orange: #fd7e14;
  --orange-mid: #fd7e1499;
  --orange-light: #fd7e1420;
  --orange-hover: #fd7e1430;
  --orange-light-opaque: #ffefe2;
  --yellow: #ffc107;
  --yellow-light: #ffc10720;
  --yellow-hover: #ffc10730;
  --yellow-mid: #ffc10799;
  --yellow-light-opaque: #fff7e0;
  --green: #28a745;
  --green-light: #28a74520;
  --green-hover: #28a74530;
  --green-mid: #28a74599;
  --gray: #6c757d;
  --gray-light: #6c757d10;
  --gray-light-opaque: #f6f6f7;
  --gray-hover: #6c757d20;
  --gray-mid: #6c757d99;
  --gray-middark: #6c757d30;
  --gray-dark: #343a40;
  --gray-opaque: #f1f1f1;
  --gray-hover-opaque: #edeeef;
  --gray-hover-darker-opaque: #f6f6f7;
  --purple: #201aa2dd;
  --purple-light: #201aa220;
  --purple-hover: #201aa230;
  --purple-mid: #201aa299;
  --purple-light-opaque: #e3e2f3;
  --pink: #db5581;
  --pink-light: #db558120;
  --pink-hover: #db558130;
  --pink-mid: #db558199;
  --brown: #b6854d;
  --brown-light: #b6854d20;
  --brown-hover: #b6854d30;
  --brown-mid: #b6854d99;
  --brick: #e23028;
  --brick-light: #e2302810;
  --brick-hover: #e2302820;

  // Dark mode variables
  --dark-m-gray: #161625;
  --dark-m-gray-light: #1e1e30;
  --dark-mid-subtext: #bdb8ae;
  --dark-m-white: #e1e1e1;
  --dark-m-blue: #3391ff;
  --dark-m-purple: #9673b9;
  --dark-m-purple-mid: #9673b9bb;
  --dark-m-purple-light: #40008050;
  --dark-m-purple-hover: #40008090;
  --dark-m-text-color: #dbdbdb;
}

html {
  box-sizing: border-box; // so width will be calculated with padding and border
  width: 100vw;
  // padding-right: 1.2rem; // escape scroll-bar width
}

*,
*:before,
*:after {
  font-family: 'archia';
  box-sizing: inherit;
}

body {
  -webkit-tap-highlight-color: transparent; // remove blue highlight when you hold on input buttons in css
  -webkit-touch-callout: none; // disable callout to show number of touches on safari
  overflow-x: hidden; // hide horizontal scrollbar
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 24px !important;
  font-weight: 900;
}

h2 {
  font-size: 18px !important;
  font-weight: 400;
}

h3 {
  font-size: 14px !important;
  font-weight: 400;
}

h4 {
  font-size: 13px !important;
  font-weight: 900;
}

h5 {
  font-size: 12px !important;
  font-weight: 900;
}

h6 {
  font-size: 11px !important;
  font-weight: 600;
}

.github {
  color: #6c757dbb;

  &:hover {
    color: var(--gray);
  }
}

.linkedin {
  color: var(--blue-mid);

  &:hover {
    color: var(--blue);
  }
}

.instagram {
  color: var(--pink-mid);

  &:hover {
    color: var(--pink);
  }
}

.twitter {
  color: var(--pblue-mid);

  &:hover {
    color: var(--pblue);
  }
}

.mail {
  color: var(--brown-mid);

  &:hover {
    color: var(--brown);
  }
}
.send {
  color: var(--blue-mid);

  &:hover {
    color: var(--blue);
  }
}

.database {
  color: var(--yellow-mid);

  &:hover {
    color: var(--yellow);
  }
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// NAVBAR MOBILE
.navbar {
  z-index: 9999; // navbar should be on top (top stacking context)

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navbar__left {
      color: var(--gray-mid);
      cursor: pointer;
      font-size: 12px;
      font-weight: 600;
      padding: 1.5rem;

      &:hover {
        color: var(--gray);
      }
      // position: absolute;
    }

    .navbar__middle {
      font-size: 18px;
      font-weight: 900;
      text-transform: uppercase;
      a {
        color: var(--gray);
        text-decoration: none;
        span.blue {
          color: var(--blue);
        }
        span.space {
          font-size: 0;
        }
      }
    }

    .navbar__right {
      color: var(--gray);
      cursor: pointer;
      // width: calc(
      //   3em + 3rem
      // ); // 3em for word size and 3rem for padding 1.5 each

      span {
        font-size: 12px;
        font-weight: 600;
        padding: 1.5rem;
        padding-right: 2rem;
      }

      .nav-icons {
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
          color: inherit;
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 4.2rem;
          width: 100%;
          &:hover {
            color: var(--blue);
          }
        }
      }
    }
  }
  .nav-animated-menu {
    position: absolute;

    .navbar__menu {
      width: 100vw;
      height: 100%;
      margin: 0;
      display: flex;
      flex-direction: column;

      background: var(--gray-light-opaque);

      a {
        text-decoration: none;
        color: var(--gray);
        padding: 1.5rem;
        border-top: 1px solid var(--gray-light);
        border-bottom: 1px solid var(--gray-light);
        transition: none; // remove background color change transition, If used.

        &:hover {
          background: var(
            --pblue-hover
          ); // color on hover, transparent otherwise, no need to adjust in dark-mode
        }
        .selected {
          background: var(--pblue-light);
          color: var(--pblue);
          padding: 0.25rem;
        }
      }
      .expand-bottom {
        font-size: 12px;
        color: var(--gray);
        font-weight: 680;
        margin-top: auto;
        margin-bottom: calc(
          12px + 3rem
        ); // to eliminate the gap between the navbar
        // as navbar__menu length is 100vh we have to add margin-bottom
        // can't use parent div as navbar__menu is position:absolute
        padding: 2em;
      }
    }
  }
}

// language switcher

.ls-container {
  // overflow: auto;
  // box-sizing: content-box;
  width: 90%;
  max-width: 35em;
  // border: 5px solid var(--red);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 0px;

  p {
    font-weight: 600;
    font-size: 0.8rem;
    color: var(--blue);
  }

  .ls-arrow {
    // font-weight: ;
    color: var(--blue-mid);
    background: var(--pblue-light);
    padding: 1rem;
    border-radius: 50%;
    // font-weight: 400;
    // box-sizing: content-box; <- https://stackoverflow.com/questions/24626908/how-to-get-rid-of-extra-space-below-svg-in-div-element
    // height: 0;
    // width: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: var(--pblue-hover);
    }
  }
  .ls-list {
    color: var(--blue-mid);
    font-weight: 600;

    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // align-items: center;

    .ls-languages {
      padding: 1.2em;
      cursor: pointer;
      // border: 1px solid transparent;

      &:hover {
        // border: 1px solid var(--blue);
        color: var(--blue);
      }
    }
    .ls-active {
      background: var(--pblue-light);
      border-radius: 5px;
      color: var(--blue);
    }
  }
}

// Volunteers
.volunteers {
  width: calc(100% - 2rem);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  > p {
    // margin: 0 auto;
    color: var(--blue);
    background-color: var(--blue-light);
    padding: 1rem;
    border-radius: 0.3rem;
    font-size: 0.9rem;
    // text-align: ;
    text-align: justify;
    text-justify: inter-word; // https://developer.mozilla.org/en-US/docs/Web/CSS/text-justify

    margin: 3rem 0;
  }

  .volunteers__container {
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));

    .volunteers__container__item {
      height: calc(75px + 2rem);
      display: flex;
      gap: 1rem;
      align-items: center;
      padding: 1rem;
      // border: 1px solid var(--gray);
      background: var(--gray-light-opaque);

      .volunteers__container__item__image {
        height: 100%; // this is needed as image will make the container overflow.
        width: 75px;
        img {
          height: 100%;
          object-fit: contain;
          display: block;
          border-radius: 0.5rem;
        }

        svg {
          width: 100%;
          height: 100%;
          display: block;
          border-radius: 0.5rem;
        }
      }

      .volunteers__container__item__details {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        height: 100%;
        overflow: hidden;
        h2 {
          color: var(--gray);
          // font-size: 1rem;
          margin: 0;
          font-weight: 600;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        p {
          color: var(--blue);
          margin: 0;
          font-size: 0.7rem;
          padding: 0.3rem 0;
        }

        .volunteers__container__item__details__socials {
          display: flex;
          line-height: 1.5rem;
          margin: 0;
          margin-top: auto;
          gap: 0.5rem;

          a {
            margin: 0;
            text-decoration: none;
            transition: all 0.2s ease-in-out;
            &:hover {
              color: var(--blue-hover);
            }

            svg {
              margin: 0;
            }
          }

          .icon {
            pointer-events: all;
          }

          svg {
            margin-right: 0.5rem;
          }
        }
      }
    }
    .last {
      position: relative;
      padding: 0;
      .volunteers__container__item {
        width: 70%;
        position: absolute;
        &:nth-child(2) {
          background-color: white;
          left: 15%;
        }
        &:nth-child(3) {
          left: 30%;
        }
      }
    }
  }
}

.banner {
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  background: var(--red-light);
  color: var(--red);
  font-weight: 600;

  svg {
    min-width: fit-content; // so that flex will not shrink the svg
    // also could have been solved by wrapping avg in div.
  }

  p {
    text-align: center;
  }

  a {
    text-decoration: none;
    color: var(--red);
    display: flex;
    align-items: center;
    white-space: nowrap;
    background: var(--red-light);

    &:hover {
      background: var(--red-hover);
    }
    svg {
      vertical-align: text-bottom;
    }
  }
}

// footer
footer {
  // all centering together 😄
  align-self: center; // for centering self in flex container
  text-align: center; // text will be centered
  align-items: center; // all child will be centered

  padding: 4rem 0;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  .footer__title {
    font-weight: 900;
    text-transform: uppercase;
    color: var(--blue);
    background-color: var(--blue-light);
  }

  h5 {
    margin: 0;
    color: var(--gray);
  }

  .footer__links {
    display: flex;
    gap: 1rem;
    margin: 2rem;
  }
}

/*************************************************************************************************/

// DARK MODE
.dark-mode {
  background: var(--dark-m-gray) !important;
  color: var(--dark-m-text-color) !important;

  .navbar-container,
  .navbar__menu,
  .volunteers__container__item {
    background: var(--dark-m-gray-light) !important;
  }

  .last {
    .volunteers__container__item {
      &:nth-child(2) {
        background-color: var(--dark-m-gray) !important;
      }
    }
  }
}

/*************************************************************************************************/

// for every background color change there will be transition, but it causes flash on start :(
// body,
// body * {
//   transition: background 200ms linear;
// }

// animations
.fadeInAnimation {
  animation: fadeInAnimation 0.5s;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeInDownAnimation {
  animation: fadeInDownAnimation 0.5s;
}

@keyframes fadeInDownAnimation {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUpAnimation {
  animation: fadeInUpAnimation 0.5s;
}

@keyframes fadeInUpAnimation {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
  
}

/*************************************************************************************************/

// Media Queries.
@media (max-width: 768px) {
  .navbar__menu {
    overflow: auto; // so content does not overflow while animation!!!
  }
}

// NAVBAR DESKTOP
@media (min-width: 769px) {
  .app {
    margin-left: 6rem; // escape the vertical navbar
    margin-right: 1rem; // escape the scroll bar -> as html width is set to 100vw to avoid repositioning.
  }
  .navbar {
    .navbar-container {
      background: var(--gray-light-opaque);
      flex-direction: column;
      height: 100vh;
      width: 6rem;
      position: fixed;
      top: 0;
      left: 0;
      align-items: center;
      text-align: center;

      .navbar__left {
        order: 3;
        margin-top: auto;
      }
      .navbar__middle {
        font-size: 0.625rem;
        width: 4rem;
        padding: 2rem 0; // padding should be em not rem, as it can grow/shrink if font-size of current element is overwritten by higher priority class eg inline css. but I don't want to get into that 😁
      }
      .navbar__right {
        width: 100%; //
      }
    }
    .nav-animated-menu {
      .navbar__menu {
        position: fixed;
        top: 0;
        width: 15rem;
        padding-top: calc(0.625rem * 2.3 + 4rem);

        a {
          border: 0 !important;
          font-weight: 600;
        }

        .expand-bottom {
          margin-bottom: 0; // to eliminate the extra gap of 100vh navbar
          margin-top: 0; // don't auto flow to bottom
        }
      }
    }
  }
  .banner {
    flex-direction: row;
    gap: 0.5rem;
    margin-right: -1rem; // https://stackoverflow.com/questions/4280886/can-a-background-image-be-larger-than-the-div-itself
    padding-right: 1rem;

    p {
      margin: 0;
    }
  }

  .volunteers {
    width: 80%;
  }
  // .page {
  //   margin-left: 6rem; // escape the vertical navbar
  // }
}
